body {
    padding-top: 70px;
    margin: 0 auto;
    width: 80%;
}

.form-center {
    text-align: center;
    padding-top: 10px;
}

.first-td {
    width: 10%
}

.time-line-cell {
    display: table-cell;
    line-height: 8px;
    text-indent: -9999px;
}